img{
    height: 100px;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
}
.col-md-4{
    height: 500px;
    overflow: auto;
}
.show{
    // transform: translateY(-10px);
    border: 4px solid blueviolet;
}