.parent{
    background-color: purple;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.card{
    width: 400px;
    max-width: 80%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.loader{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}